<!--The content below is only a placeholder and can be replaced.-->
<section class="hero is-info is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        News app
      </p>
      <p class="subtitle">
        City AI
      </p>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul ng-init="selectedTab = 'posts'">
          <li [ngClass]="{'is-active':selectedTab === 'posts'}" (click)="selectedTab = 'posts'">
            <a  href="#items" routerLink="newsapp/posts" md-button>Search</a>
          </li>
          <li [ngClass]="{'is-active':selectedTab === 'news_en'}" (click)="selectedTab = 'news_en'">
            <a href="#users" routerLink="newsapp/news" md-button>News english</a>
          </li>
          <li [ngClass]="{'is-active': selectedTab === 'news_fr'}" (click)="selectedTab = 'news_fr'">
            <a routerLink="newsapp/news_fr" md-button>News France</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Cristian Perez - 2018
    </p>
  </div>
</footer>
